form{
    display: block;
    width: 45%;
    margin: 0 auto;
    background-color: lightsalmon;
    border-radius: 20px;
}
form fieldset{
    border: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form input[type=text]{
    padding: .5em;
    font-size: 1.5em;
    text-align: center;
    width: 45%;
    background-color: white;
}
form input{
    text-align: center;
    width: 10%;
    vertical-align: middle;
    border: none;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 5px;
}
form input:hover{
    background-color: lightgray;
}
form input[type=text]:hover{
    background-color: white;
}